{% extends 'views/base.html' %}

{% set keywords = home.meta.keywords %}
{% set description = home.meta.description %}

{% block content -%}
<section class="content">
	<article class="body" {% if home.backgroundImage %}
			style="background-size: {{ home.backgroundSize }};
				background-position: {{ home.backgroundPosition }};
				background-image: url({{ baseUrl }}assets/images/{{ home.backgroundImage }});"
		{% endif %}>
		<h3>{{ home.title | safe }}</h3>
		{{ home.body | safe }}
	</article>
</section>
{% endblock %}