{% extends 'views/base.html' %}

{% set title = page.title + ' | ' %}
{% set keywords = page.meta.keywords %}
{% set description = page.meta.description %}

{% block content -%}
<section class="content">
		<article class="body" {% if page.backgroundImage %}
			style="background-size: {{ page.backgroundSize }};
				background-position: {{ page.backgroundPosition }};
				background-image: url({{ baseUrl }}assets/images/{{ page.backgroundImage }});"
		{% endif %}>
		<h3>{{ page.title | safe }}</h3>
		{{ page.body | safe }}
	</article>
</section>
{% endblock %}