@import './styles/reset.scss';
@import './styles/variables.scss';

// Components
@import './components/app-header/app-header.scss';
@import './components/app-navigation/app-navigation.scss';
@import './components/navigation/navigation.scss';
@import './components/contact/contact.scss';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $font-family;
	font-size: $font-size-l;
	line-height: 1.4;

	@media screen and (min-width: 715px) {
		font-size: $font-size-m;
	}
}

a, a:visited {
	color: $link-color;
	transition: color 0.3s ease-out;
}

a:hover, a:focus {
	color: $highlight-color;
	transition: color 0.3s ease-out;
}

h3 {
	font-size: $font-size-l;
	color: $highlight-color;
	font-weight: bold;
	margin-bottom: $default-spacing;
}

h4 {
	font-size: $font-size-l;
	color: $highlight-color;
	font-weight: bold;
	margin-bottom: $half-spacing;

	@media screen and (min-width: 715px) {
		font-size: $font-size-m;
	}
}

p {
	font-size: $font-size-l;
	margin-bottom: $default-spacing;

	@media screen and (min-width: 715px) {
		font-size: $font-size-m;
	}
}

li {
	&:before {
		content: '•';
		color: $highlight-color;
		padding-right: 5px;
	}
}

button {
	border: none;
	background-color: transparent;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.max-width {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 $default-spacing;

	@media screen and (min-width: 740px) {
		padding: 0;
	}
}

.main {
	padding-bottom: $double-spacing;

	@media screen and (min-width: 715px) {
		padding-bottom: calc($double-spacing * 3);
	}
}

.content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-top: 45px;

	@media screen and (min-width: 715px) {
		padding-right: 45px;
		width: 66%;
	}

	@media screen and (min-width: 740px) {
		width: 50%;
	}

	.body {
		background-color: #FFFFFF;
		background-color: rgba(255, 255, 255, .3);
		border: 2px solid $border-color;
		border-radius: 5px;
		padding: 20px;
	}
}

.footer {
	@media screen and (min-width: 715px) {
		display: none;
	}

	.contact {
		display: block;
		margin-top: 0;

		@media screen and (min-width: 715px) {
			display: none;
		}
	}
}