.app-navigation {
	display: inline-block;
	vertical-align: top;
	background-image: url('../assets/images/navigation_background.png');
	background-repeat: no-repeat;
	background-position: 0 -51%;
	padding: 45px 45px 0 110px;
	width: 50%;
}