header {
	position: relative;
	line-height: 18px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 330px;
		height: 82%;
		height: calc(100% - 18px);
		z-index: -1;

		@media screen and (min-width: 585px) {
			background: #FFFFFF;
			background: -moz-linear-gradient(left, #FFFFFF 0%, #CD498A 100%);
			background: -webkit-linear-gradient(left, #FFFFFF 0%,#CD498A 100%);
			background: linear-gradient(to right, #FFFFFF 0%,#CD498A 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CD498A', GradientType=1);
		}

		@media screen and (min-width: 715px) {
			width: 330px;
		}

		@media screen and (min-width: 880px) {
			width: 470px;
		}
	}

	&:after {
		content: '';
		background-color: $dark-purple;
		position: absolute;
		right: 0;
		bottom: 18px;
		width: 100%;
		height: 10px;
		z-index: -1;

		@media screen and (min-width: 740px) {
			max-width: 78%;
		}
	}

	.visual {
		padding-top: 40px;

		@media screen and (min-width: 740px) {
			background-image: url('../assets/images/navigation_background.png');
			background-repeat: no-repeat;
		}
	}

	.header-wrapper {
		position: relative;
		
		@media screen and (min-width: 740px) {
			padding-left: 175px;
		}
	}

	.subtitle {
		display: none;
		margin-bottom: 13px;
		position: absolute;
		right: 47px;
		bottom: 0;

		@media screen and (min-width: 715px) {
			display: block;
		}
	}

	h2 {
		background-color: $dark-purple;
		border-radius: 10px;
		box-shadow: 5px 5px 10px 0px #272727;
		color: #FFFFFF;
		display: inline;
		font-size: $font-size-l;
		font-weight: bold;
		padding: 7px 22px;
		position: relative;
		font-weight: normal;

		&:before {
			content: '';
			border: 1px solid #FFFFFF;
			border-radius: 10px;
			position: absolute;
			top: 3px;
			bottom: 3px;
			left: 3px;
			right: 3px;
		}
	}

	.anniversary-logo {
		position: absolute;
		top: -35px;
		left: 155px;

		@media screen and (min-width: 740px) {
			left: 335px;
		}
	}

	.btn-menu {
		position: absolute;
		right: -2px;
		bottom: $default-spacing;
		background-color: #FFFFFF;
		padding: 3px 3px 0 3px;
		box-shadow: 2px 2px 5px #272727;
		border-radius: 2px;

		@media screen and (min-width: 715px) {
			display: none;
		}
	}
}